<div class="bios">

	<div class="pagetitle">
		<h1>Choose Team to Delete</h1>
	</div>

	<div>
		<%= form_tag "/teams/:id", :method => :delete do %>
 			 <%= collection_select :team, :id, Team.all, :id, :name %>
 			 <button type="submit" class="btn">Select</button>
		<% end %>
	</div>
</div>