<div class='schedule'>
	<div class="pagetitle">
		<h1>Season <%=@season.number %></h1>
	</div>
	<!-- Will create a table for each week in the season -->
	<div>
		<%= render "table" %>
	</div>
	
</div> <!-- schedule -->