<div class="bios">

	<div class="pagetitle">
		<h1>Choose Season to Start</h1>
	</div>

	<div>
		<%= form_tag "/seasons/:id/start", :method => :get do %>
 			 <%= collection_select :season, :id, Season.all, :id, :number %>
 			 <button type="submit" class="btn">Select</button>
		<% end %>
	</div>
</div>