<h2>Season Options</h2>
<a href="/seasons/new"><p>Create New Season</p></a>
<!-- number, challonge_name, type, url -->
<p>Edit Season</p>
<p>Delete Season</p>
<a href="/seasons/start_season"><p>Start Season</p></a>
<!-- num_teams, num_weeks  -->