<h2>Season Options</h2>
<%= link_to "Create New Season", new_season_path %>
<!-- number, challonge_name, type, url -->
<p>Edit Season</p>
<p>Delete Season</p>
<%= link_to "Start Season", seasons_start_season_path %>
<a href="/seasons/"
<!-- num_teams, num_weeks  -->