<h2>Season Options</h2>
<%= link_to "Create New Season", new_season_path %>
<p>Edit Season</p>
<p>Delete Season</p>
<%= link_to "Start Season", seasons_start_season_path %>
<p>Set Active Season</p>
<p>Remove Active Season</p>