<h2>Team Options</h2>
<a href="/teams/new"><p>Create Team</p></a>
<!-- Name, season_id, challonge_team_name -->
<a href="/teams/edit_team"><p>Edit Team</p></a>
<a href="/teams/delete_team"><p>Delete Team</p></a>