<div class='homelogo'>
	<div class='logo'>
	</div>
</div>

<div class='schedule'>
	<div class="pagetitle">
		<h1>Schedule</h1>
	</div>
	<!-- Will create a table for each week in the season -->
	<% @season.num_weeks.times do |t| %>
		<table class='scheduletable'>
			<thead>
				<tr>
					<th colspan='5' class='tabletitle'>
						<a name='Schedule'>Schedule</a>
					</th>
				</tr>
				<tr>
					<th colspan='5' class='round'>
						Round <%= t + 1 %>
					</th>
				</tr>
				<tr>
					<th class="columntitle">
						Home Team
					</th>
					<th class="columntitle">
						W/L
					</th>
					<th class="columntitle">
						vs.
					</th>
					<th class="columntitle">
						Away Team
					</th>
					<th class="columntitle">
						W/L
					</th>
				</tr>
			</thead>
			<tbody>
				<!-- Will iterate over each match and populate a table row -->
				<% @season.matches.where(challonge_week: t + 1).each do |match| %>
					<tr>
						<td class='teamname'>
							<%= Team.find(match.team_id).name %>
						</td>
						<td class='result'>
							<% if match.winner == nil %>

							<% elsif match.team_id == match.winner %>
								W
							<% elsif match.challenger_id == match.winner %>
								L
							<% else %>
							<% end %>
						</td>
						<td>
							vs.
						</td>
						<td class='teamname'>
							<%= Team.find(match.challenger_id).name %>
						</td>
						<td class='result'>
							<% if match.winner == nil %>

							<% elsif match.team_id == match.winner %>
								L
							<% elsif match.challenger_id == match.winner %>
								W
							<% else %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>

		</table>
	<% end %>
</div> <!-- schedule -->