<div class='schedule'>
	<div class="pagetitle">
		<h1>Schedule</h1>
	</div>
	<!-- Will create a table for each week in the season -->
	<div>
		<%= render "seasons/table" %>
	</div>
</div> <!-- schedule -->