<div class='schedule'>
  <div class="pagetitle">
    <h1>Standings</h1>
  </div>
  <div>
    <% @standings.each do |season| %>
      <%= render partial: "table", locals: {season: season } %>
    <% end %>
  </div>
</div>