<!DOCTYPE html>
<html>
<head>
  	<title>Team Draft League</title>
  	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
<div class="wrap">
	
	<div>
		<a href="/">Home</a> | <a href="/players">Players</a> | <a href="/teams">Teams</a> | <a href="/schedule">Schedule</a>
	</div>

	<%= yield %>

</div>
</body>
</html>
